h1
{
    background-color: black;
    text-align: center;
    color: aliceblue;
    
}

body
{
    margin: 0;
    padding: 0;
    text-align: center;
    
    background-color: aquamarine;
}
input
{
    
    height: 2rem;
    width: 15rem;
    text-align: center;
    background-color: bisque;
}
button
{
    
    height: 2rem;
    width: 20rem;
    background-color: blueviolet;
    color: aliceblue;
    border: 5px solid yellow;
    text-align: center;
}